<template>
    <pie-chart :chart-data="datacollection"  :options="options" />
</template>

<script>
import PieChart from '@/charts/PieChart'
import { mapGetters, mapActions } from 'vuex'
import { META_TYPES_COLORS } from '@/constants'

export default {
    components: {
        PieChart
    },
    props: {
        card_list_id: Number,
    },
    data() {
        return {
            card_list: [],
            options: {
                plugins: {
                    legend: true,
                },
                legend: {
                    position: 'left',
                },
            },
            chart_data: {},
            datacollection: {
                labels: ['loading...'],
                datasets: [
                    {
                        label: 'Mana',
                        data: [1],
                        borderWidth: 1,
                        backgroundColor: [
                            'rgb(33, 33, 33)',
                        ],
                    }
                ],

            }
        }
    },
    computed: {
        ...mapGetters({
            getCardReferentialMetaTypeList: 'card_referential_store/getCardReferentialMetaTypeList'
        }),
    },
    async mounted() {
        const card_meta_type_counts = await this.calculcateMetaTypeCounts()
        const labels = this.toTextTranslateLabels(card_meta_type_counts.map((item) => item.value))
        const data = card_meta_type_counts.map((item) => item.count)        
        const backgroundColor = card_meta_type_counts.map((item) => {
            const color = META_TYPES_COLORS.find((color_item) => color_item.value === item.value)
            return color.color
        })
        this.datacollection = {
            labels,
            datasets: [
                {
                    label: 'Mana',
                    data,
                    borderWidth: 1,
                    backgroundColor,
                }
            ],
        }
    },
    methods: {
        ...mapActions({
            getCards: 'chart_store/getCards'
        }),

        async calculcateMetaTypeCounts() {
            const meta_type_referential = this.getCardReferentialMetaTypeList
            this.card_list = await this.getCards({
                card_list_id: this.card_list_id,
            })
            const card_meta_type_counts = []
            this.card_list.forEach((card) => {
                const found_meta = this.findMetaTypeFromCard(card, meta_type_referential)
                found_meta.forEach((found) => {
                    const found_in_count = card_meta_type_counts
                        .find((card_meta_type) => card_meta_type.value === found)
                    if (found_in_count === undefined) {
                        card_meta_type_counts.push({
                            value: found,
                            count: 1,
                        })
                    } else {
                        found_in_count.count++
                    }
                })
            })
            return card_meta_type_counts
        },

        findMetaTypeFromCard(card, meta_type_referential) {
            const results = []
            meta_type_referential.forEach((meta_type) => {
                const found_meta_type = meta_type.type_list.find((type) => {
                    return type === card.precalculated_value.type_1
                })
                if (found_meta_type !== undefined) {
                    results.push(meta_type.value)
                }
            })
            return results
        },

        toTextTranslateLabels(label_value_list) {
            const meta_type_referential = this.getCardReferentialMetaTypeList
            return label_value_list.map((label_value) => {
                const found = meta_type_referential.find(
                    (referential) => referential.value === label_value)
                return found === undefined ? `${label_value} (untranslated)` : found.text
            })
        }
    }
}
</script>
