<template>
    <bar-chart 
        :chart-data="chart_data"
        :options="options"
        :height="1"
        :width="2"
    />
</template>

<script>
import BarChart from '@/charts/BarChart'
import { mapActions } from 'vuex'

export default {
    components: {
        BarChart
    },
    props: {
        card_list_id: Number,
    },
    data() {
        return {
            card_list: [],
            options: {
                plugins: {
                    legend: false,
                },
            },
            chart_data: {},
            datacollection: {
                labels: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, '11+'],
                datasets: [
                ]
            }
        }
    },
    async mounted() {
        this.card_list = await this.getCards({
            card_list_id: this.card_list_id,
        })

        console.log("here", this.card_list)
        this.processManaCurveCalculation()
    },
    methods: {
        ...mapActions({
            getCards: 'chart_store/getCards'
        }),
        processManaCurveCalculation() {
            const chart_data = []
            this.datacollection.labels.forEach(() => {
                chart_data.push(0)
            })
            this.card_list.forEach((card) => {
                if (card.cmc && card.cmc <= 10) {
                    chart_data[card.cmc - 1]++
                } else if (card.cmc > 10) {
                    chart_data[chart_data.length - 1] ++
                }
            })
            console.log(chart_data)
            // this.datacollection.datasets[0].data = chart_data

            this.datacollection.datasets = [
                {
                    label: 'Mana',
                    // data: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
                    data: chart_data,
                    backgroundColor: '#e8cf35',
                    borderWidth: 1,
                }
            ]
            this.chart_data = this.datacollection

            console.log(this.datacollection)
        }
    }
}
</script>
