<template>
    <v-data-table
        :headers="headers"
        :items="deck_list"
        class="elevation-1"
    >
        <template v-slot:top>
            <v-toolbar flat>
                <v-toolbar-title>Decks</v-toolbar-title>
                <v-spacer></v-spacer>

                <edition-deck-dialog />

            </v-toolbar>
        </template>

        <template v-slot:[`item.actions`]="{ item }">
            <router-link 
                tag="span"
                style="cursor: pointer"
                :to="{ name: 'decks_statistics', params: { id: item.id } }"
            >
                <v-icon class="mr-2" small>mdi-chart-areaspline</v-icon>
            </router-link>

            <router-link 
                tag="span"
                style="cursor: pointer"
                :to="{ name: 'decks_view', params: { id: item.id } }"
            >
                <v-icon class="mr-2" small>mdi-format-list-bulleted-square</v-icon>
            </router-link>

            <edition-deck-dialog :id="item.id">
                <template v-slot:activator="{ on, attrs }">
                    <v-icon small class="mr-2"
                        v-bind="attrs"
                        v-on="on"
                    >
                        mdi-pencil
                    </v-icon>
                </template>
            </edition-deck-dialog>        

            <delete-deck-dialog :id="item.id">
                <template v-slot:activator="{ on, attrs }">
                    <v-icon small
                        v-bind="attrs"
                        v-on="on"
                    >
                        mdi-delete
                    </v-icon>
                </template>
            </delete-deck-dialog>
        </template>

        <template v-slot:no-data>
            <v-btn
                color="primary"
                @click="initialize"
            >
                Reset
            </v-btn>
        </template>

    </v-data-table>
</template>

<script>

import { mapActions, mapGetters } from 'vuex';
import EditionDeckDialog from '@/components/elements/deck_manager/EditionDeckDialog'
import DeleteDeckDialog from '@/components/elements/deck_manager/DeleteDeckDialog'

export default {
    components: {
      EditionDeckDialog,
      DeleteDeckDialog,
    },
    data: () => ({
        headers: [
            {
                text: 'Nom du deck',
                align: 'start',
                value: 'name',
            },
            {
                text: 'Actions',
                align: 'end',
                value: 'actions',
                sortable: false,
            },
        ],
    }),
    computed: {
        ...mapGetters({
            deck_list: 'card_list_store/getDeckList'
        }),
    },
    methods: {
        ...mapActions({
        }),
        initialize () {
            this.loadModules();
        },
    },
}
</script>