<template>
    <v-dialog
        v-model="dialog"
        width="500"
        >
        <template v-slot:activator="{ on, attrs }">
            <slot name="activator" :on="on" :attrs="attrs">
                <v-btn
                    color="primary"
                    dark
                    class="mb-2"
                    v-bind="attrs"
                    v-on="on"
                >
                    Delete
                </v-btn>
            </slot>
        </template>

        <v-card>
            <v-card-title>
                <span class="headline">Supprimer le deck</span>
            </v-card-title>
            <v-card-text>
                <h6 class="text-h6">
                    {{ name }}
                </h6>
            </v-card-text>

            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                    color="blue darken-1"
                    text
                    @click="cancel"
                >
                    Cancel
                </v-btn>
                <v-btn
                    color="blue darken-1"
                    text
                    @click="deleteCardList(id)"
                >
                    Supprimer
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>

import { mapActions } from 'vuex'

export default {
    props: {
        id: Number,
    },
    data: () => ({
        dialog: false,
        valid: null,
        name: '',
    }),
    async mounted() {
        if (this.id) {
            const card_list = await this.getById(this.id)
            this.name = card_list.name
            this.type_id = card_list.type_id
        }
    },
    methods: {
        ...mapActions({
            delete: 'card_list_store/delete',
            init: 'card_list_store/init',
            getById: 'card_list_store/getById',
        }),
        async deleteCardList(card_list_id) {
            await this.delete({
                card_list_id,
            })
            await this.init()
            this.close()
        },
        cancel() {
            this.close()
        },
        close() {
            this.dialog = false
        }
    },
    watch: {
        dialog(value) {
            if (value) {
                console.log('watch', this.dialog)
                console.log('cardListId', this.id)
            }
        }
    }
}
</script>