<template>
    <v-dialog
        v-model="dialog"
        width="500"
        >
        <template v-slot:activator="{ on, attrs }">
            <slot name="activator" :on="on" :attrs="attrs">
                <v-btn
                    color="primary"
                    dark
                    class="mb-2"
                    v-bind="attrs"
                    v-on="on"
                >
                    New Item
                </v-btn>
            </slot>
        </template>

        <v-card>
            <v-card-title>
                <span class="headline">{{ update_mode ? 'Modifier' : 'Créer' }}</span>
            </v-card-title>
            <v-card-text>
                <v-container>
                    <v-form
                        ref="form"
                        v-model="valid"
                        lazy-validation
                    >
                        <v-text-field
                            v-model="name"
                            :counter="25"
                            :rules="name_rules"
                            label="Name"
                            required
                        />

                    </v-form>
                </v-container> 
            </v-card-text>

            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                    color="blue darken-1"
                    text
                    @click="cancel"
                >
                    Cancel
                </v-btn>
                <v-btn
                    color="blue darken-1"
                    text
                    @click="save"
                >
                    Save
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>

import { mapActions } from 'vuex'

export default {
    props: {
        id: Number,
    },
    data: () => ({
        dialog: false,
        valid: null,
        update_mode: false,
        name: '',
        name_rules: [
            v => !!v || 'Name is required',
            v => (v && v.length <= 100) || 'Name must be less than 100 characters',
            v => (v && v.length > 3) || 'Name must be at least 3 characters',
        ],
    }),
    async mounted() {
        if (this.id) {
            this.update_mode = true
            const card_list = await this.getById(this.id)
            this.name = card_list.name
            this.type_id = card_list.type_id
        }
    },
    methods: {
        ...mapActions({
            create: 'card_list_store/create',
            update: 'card_list_store/update',
            init: 'card_list_store/init',
            getById: 'card_list_store/getById',
        }),
        async save () {
            if (!this.$refs.form.validate()) {
                // this.$emit('validation_error')
                return;
            }

            if (this.update_mode) {
                await this.update({
                    id: this.id,
                    name: this.name,
                    type_id: 2,
                })                
            } else {
                await this.create({
                    name: this.name,
                    type_id: 2,
                })
            }

            await this.init()

            if (this.update_mode) {
                const card_list = await this.getById(this.id)
                this.name = card_list.name
                this.type_id = card_list.type_id
                this.close()
            } else {
                this.reset()
                this.close()
            }
        },
        cancel() {
            if (this.update_mode) {
                this.close()
            } else {
                this.reset()
                this.close()
            }
        },
        reset() {
            this.$refs.form.reset()
            // this.$emit('reset')
        },
        close() {
            this.dialog = false
        }
    },
    watch: {
        dialog(value) {
            if (value) {
                console.log('watch', this.dialog)
                console.log('cardListId', this.id)
            }
        }
    }
}
</script>