<template>
    <div>
        <v-btn
            v-for="card_color in card_color_list" :key="card_color.color"
            class="mx-2"
            fab
            small
            fill
            :color="isSelected(card_color.color) ? 'primary' : ''"
            @click="toggle(card_color.color)"
        >
                <v-avatar center style="overflow:hidden" class="pa-2">
                    <v-img :src="card_color.svg_uri"  :contain="true" />
                </v-avatar>
        </v-btn>
    </div>
</template>


<script>

import { mapGetters, mapActions } from 'vuex'

export default {
    name: 'CardColorCriterionElement',
    props: [
        'value',
    ],
    data: () => ({
        selected_color_list: null,
    }),
    async mounted() {
        await this.initColor()
        this.selected_color_list = this.value
    },
    computed: {
        ...mapGetters({
            card_color_list: 'card_referential_store/getCardReferentialColorList',
        }),
    },
    watch: {
        selected_color_list() {
            console.log(this.selected_color_list)
            this.$emit('input', this.selected_color_list)
        },
        value() {
            this.selected_color_list = this.value
        }
    },
    methods: {
        ...mapActions({
            getCardReferentialColor: 'card_referential_store/getCardReferentialColor',
            initColor: 'card_referential_store/initColor',
        }),
        remove (item) {
            console.log(item)
        },
        isSelected(color) {
            if (!this.selected_color_list) {
                return false
            }
            return this.selected_color_list.includes(color)
        },
        toggle(color) {
            if (color === 'C') {
                if (this.selected_color_list && this.selected_color_list.includes('C')) {
                    this.selected_color_list = null
                } else {
                    this.selected_color_list = ['C']
                }
            } else {
                if (this.selected_color_list && this.selected_color_list.includes(color)) {
                    const index = this.selected_color_list.indexOf(color)
                    if (index >= 0) this.selected_color_list.splice(index, 1)
                } else {
                    if (!this.selected_color_list || (this.selected_color_list && this.selected_color_list.includes('C'))) {
                        this.selected_color_list = []
                    }
                    this.selected_color_list.push(color)
                }
            }
        },
    },
  }
</script>