<template>
    <v-text-field
        label="Capacité de la carte"
        v-model="keyword"
        type="text"
    />
</template>

<script>

export default {
    data: () => ({
        keyword: null,
        keyword_list: null,
    }),
    props: [
        'value',
    ],
    async mounted() {
        // this.type = this.value
    },
    computed: {
    },
    watch: {
        keyword() {
            console.log(this.type)
            this.$emit('input', [this.keyword])
        },
        // value() {
        //     this.type = this.value
        // },
    },
  }
</script>
