<template>
    <v-autocomplete
        v-model="selected_set_list"
        :items="card_set_list_enriched"
        
        chips
        label="Select set"
        item-text="search_string"
        item-value="code"
        multiple
        append-outer-icon="mdi-close"
        @click:append-outer="selected_set_list = null"
    >
        <template v-slot:selection="data">
            <v-chip
                v-bind="data.attrs"
                :input-value="data.selected"
                close
                @click="data.select"
                @click:close="remove(data.item)"
            >
                <v-avatar left>
                    <v-img :src="data.item.icon_svg_uri" width="100%"></v-img>
                </v-avatar>
                <!-- {{ data.item.name }} -->
            </v-chip>
        </template>

        <template v-slot:item="data">
            <v-list-item-avatar>
                <img :src="data.item.icon_svg_uri" alt="Default card avatar">
            </v-list-item-avatar>
            <v-list-item-content>
                <v-list-item-title v-html="data.item.name"></v-list-item-title>
                <v-list-item-subtitle>{{ data.item.released_at }} - {{ data.item.card_count }} card(s)</v-list-item-subtitle>
            </v-list-item-content>
        </template>

    </v-autocomplete>
</template>


<script>

import { mapGetters, mapActions } from 'vuex'

export default {
    data: () => ({
        selected_set_list: null,
    }),
    props: [
        'value',
    ],
    async mounted() {
        await this.initSet()
        this.selected_set_list = this.value
    },
    computed: {
        ...mapGetters({
            card_set_list: 'card_referential_store/getCardReferentialSetList',
        }),
        card_set_list_enriched() {
            return this.card_set_list
                .map((set) => ({
                    ...set,
                    search_string: `${set.name} ${set.code} ${set.released_at}`
                }))
                .filter((item) => item.card_count > 0)
        }
    },
    watch: {
        selected_set_list() {
            console.log(this.selected_set_list)
            this.$emit('input', this.selected_set_list)
        },
        value() {
            this.selected_set_list = this.value
        },
    },
    methods: {
        ...mapActions({
            getCardReferentialSet: 'card_referential_store/getCardReferentialSet',
            initSet: 'card_referential_store/initSet',
        }),
        remove(item) {
            const index = this.selected_set_list.indexOf(item.code)
            if (index >= 0) this.selected_set_list.splice(index, 1)
        },
    },
  }
</script>