<template>
    <v-text-field
        label="Type de carte"
        v-model="type"
        type="text"
    />
</template>

<script>

export default {
    data: () => ({
        type: null,
        type_list: null,
    }),
    props: [
        'value',
    ],
    async mounted() {
        // this.type = this.value
    },
    computed: {
    },
    watch: {
        type() {
            console.log(this.type)
            this.$emit('input', [this.type])
        },
        // value() {
        //     this.type = this.value
        // },
    },
  }
</script>