<template>
    <v-app>
        <v-progress-linear
            :active="loading"
            :indeterminate="loading"
            absolute
            top
            color="#ff0000"
            fixed
            style="z-index: 6"
        />
        <app-bar />
        <app-drawer />
        <v-main>
            <slot />
        </v-main>
    </v-app>
</template>

<script>

import { mapGetters } from 'vuex'

import AppBar from '@/components/elements/AppBar'
import AppDrawer from '@/components/elements/AppDrawer'

export default {
    components: {
        AppBar,
        AppDrawer,
    },
    computed: {
        ...mapGetters({
            loading: 'app_layout_store/isLoading'
        }),
    },
}
</script>
