<template>
    <v-app>
        <v-container fluid fill-height align-center>
            <v-flex>
                <v-flex class="d-flex justify-center">
                    <v-progress-circular
                        :size="170"
                        :width="10"
                        color="#eee"
                        indeterminate
                    ></v-progress-circular>
                </v-flex>
            </v-flex>
        </v-container>
    </v-app>
</template>
