<template>
    <v-app>
        <v-progress-linear
            :active="loading"
            :indeterminate="loading"
            absolute
            top
            color="#ff0000"
            fixed
            style="z-index: 6"
        />
        <public-app-bar />
        <v-main>
            <slot />
        </v-main>
    </v-app>
</template>

<script>

import { mapGetters } from 'vuex'

import PublicAppBar from '@/components/elements/PublicAppBar'

export default {
    components: {
        PublicAppBar,
    },
    computed: {
        ...mapGetters({
            loading: 'app_layout_store/isLoading'
        }),
    },
}

</script>
