<template>
    <v-container>
        <v-row class="mt-10">
            <v-col>
                <v-sheet
                   color="white"
                    elevation="1"
                    class="pa-10"
                >
                    <h4 class="text-h5">Connection</h4>
                    <user-login-form-element />
                </v-sheet>
            </v-col>
            <v-col>
                <v-sheet
                   color="white"
                    elevation="1"
                    class="pa-10"
                >
                    <h4 class="text-h5">Inscription</h4>
                    <user-registration-form-element />
                </v-sheet>
            </v-col>
        </v-row>
    </v-container>
</template>


<script>

import { mapGetters } from 'vuex'

import {
    UserLoginFormElement,
    UserRegistrationFormElement,
} from '@/components/elements/user'

export default {
    components: {
        UserLoginFormElement,
        UserRegistrationFormElement,
    },
    computed: {
        ...mapGetters({
            isConnected: 'authentication_store/isConnected',
        })
    },
    async mounted() {
        if (this.isConnected) {
            this.$router.push({ name: 'collection' })
        }
    },
}
</script>