<template>
    <v-container>
        <h1 class="text-h4 mt-4 mb-6">Recherche de meilleure carte</h1>

        <v-card v-if="main_card_loaded">
            <v-card-title>
                <span class="text-h5">
                    {{ prepared_main_data.printed_name || prepared_main_data.name}}
                </span>
            </v-card-title>
            <v-card-text>
                <v-row>
                    <v-col cols="3">
                        <card-image-element :data="prepared_data" />
                    </v-col>

                    <v-col cols="5">
                        <card-detail-features-element :data="prepared_main_data" />
                    </v-col>
                </v-row>
            </v-card-text>
        </v-card>


        <v-row>
            <v-col
                v-for="card in better_card_list"
                :key="`${card.id}-${card.card_list_item_id}`"
                cols="3"
            >
                <card-element
                    :data="card"
                    :mode="mode"
                />
            </v-col>
        </v-row>
    </v-container>
</template>


<script>

import { mapGetters, mapActions, mapMutations } from 'vuex'
import { CARD_STORE } from '@/constants'

import {
    CardDetailFeaturesElement,
    CardImageElement, 
    CardElement,
} from '@/components/elements/card'


export default {
    name: 'BetterCardFinderPage',
    props: {
        card_id: String,
    },
    data: () => ({
        main_card: {},
        main_card_loaded: false,

        better_card_list: [],
    }),
    components: {
        CardDetailFeaturesElement,
        CardImageElement,
        CardElement,
    },
    async mounted() {
        await this.findMainCard()
        this.main_card_loaded = true
    },
    computed: {
        ...mapGetters({
            card_list: 'card_store/cardList',
            card_search_total_count: 'card_store/cardSearchTotalCount',
            collection_card_list_id: 'card_list_store/getCollectionCardListId',
            card_referential_set_list: 'card_referential_store/getCardReferentialSetList',
        }),
        prepared_data() {
            return this.preparedData(this.main_card)
        }
    },
    methods: {
        ...mapActions({
            processSearchData: 'card_store/processSearchData',
            processSearchCount: 'card_store/processSearchCount',
            resetCardStore: 'card_store/reset',
            setLoading: 'app_layout_store/setLoading',
            preparedData: 'card_store/preparedData',
        }),
        ...mapMutations({
            setPage: 'card_store/set_page',
            setLimit: 'card_store/set_limit',

            setCriteriaIdList: 'card_store/set_criteria_id_list',
            setCriteriaColorIdentityList: 'card_store/set_criteria_color_identity_list',
            setCriteriaCardListId: 'card_store/set_criteria_card_list_id',
            setCriteriaSet: 'card_store/set_criteria_set',
            setCriteriaLang: 'card_store/set_criteria_lang',
            
            setGroupByCardId: 'card_store/set_group_by_card_id',
            setSearchMode: 'card_store/set_search_mode',
            setSort: 'card_store/set_sort',
        }),
        async findMainCard() {
            this.resetCardStore()
            this.setSearchMode(CARD_STORE.SEARCH_MODE.PUBLIC)
            this.setPage(1)
            this.setLimit(1)
            this.setCriteriaIdList([this.card_id])
            await this.processSearchData()
            const [
                main_card,
            ] = this.card_list
            this.main_card = main_card
        },

        async findBetterCard() {
            this.resetCardStore()
            
            this.setSearchMode(CARD_STORE.SEARCH_MODE.PUBLIC)

            // getting main criteria
            const criteria_color_list = this.main_card.color_identity
            const criteria_lang = this.main_card.lang

            // setting criteria card
            this.setCriteriaLang(criteria_lang)
            this.setCriteriaColorIdentityList(criteria_color_list)
            this.setPage(1)
            this.setLimit(10)

            await this.processSearchData()
            const [
                main_card,
            ] = this.card_list
            this.main_card = main_card
        }
    }
}

</script>

