<template>
    <v-container>
        <v-row class="mt-10">
            <v-col cols="10"> 
                <v-text-field
                    solo
                    label="Recherche"
                    append-icon="mdi-magnify"
                    v-model="quick_search"
                    rounded
                ></v-text-field>
            </v-col>
            <v-col cols="2"> 
                <advanced-search-card />
            </v-col>
        </v-row>

        <div class="text-center mb-10" v-if="display_pagination">
            <v-pagination
                v-model="page"
                :length="Math.ceil(card_search_total_count / limit)"
                circle
            >
            </v-pagination>
        </div>

        <v-row>
            <v-col
                v-for="card in card_list"
                :key="`${card.id}-${card.card_list_item_id}`"
                cols="3"
            >
                <CardElement :data="card" />
            </v-col>
        </v-row>

        <div class="text-center my-10" v-if="display_pagination">
            <v-pagination
                v-model="page"
                :length="Math.ceil(card_search_total_count / limit)"
                circle
            >
            </v-pagination>
        </div>

    </v-container>
</template>

<script>
import { mapActions, mapGetters, mapMutations } from 'vuex'

import {
    CardElement,
} from '@/components/elements/card'
import AdvancedSearchCard from '@/components/elements/AdvancedSearchCard'


export default {
    name: 'CardListSearchPage',
    components: {
        CardElement,
        AdvancedSearchCard,
    },
    data: () => ({
        search_timer_handler: null,
    }),
    computed: {
        ...mapGetters({
            card_list: 'card_store/cardList',
            card_search_total_count: 'card_store/cardSearchTotalCount',
            criteria_quick_search: 'card_store/criteriaQuickSearch',
            store_page: 'card_store/page',
            limit: 'card_store/limit',
        }),
        display_pagination() {
            return this.card_search_total_count > this.limit
        },
        quick_search: {
            get() {
                return this.criteria_quick_search
            },
            set(value) {
                this.setCriteriaQuickSearch(value)
            }
        },
        page: {
            get() {
                return this.store_page
            },
            set(value) {
                this.setPage(value)
            }
        }
    },
    methods: {
        ...mapActions({
            processSearchData: 'card_store/processSearchData',
            processSearchCount: 'card_store/processSearchCount',
        }),
        ...mapMutations({
            setCriteriaQuickSearch: 'card_store/set_criteria_quick_search',
            setPage: 'card_store/set_page',
        }),
    },
    watch: {
        quick_search() {
            if (this.quick_search.length >= 3) {
                clearTimeout(this.search_timer_handler)
                this.search_timer_handler = setTimeout(
                    () => {
                        this.processSearchCount()
                        this.processSearchData()
                    },
                    500
                )
            }
            
        },
        page() {
            this.processSearchData()
        }
    }

}
</script>
