<template>
    <v-container>
        <deck-manager-element />
    </v-container>
</template>

<script>

import DeckManagerElement from '@/components/elements/deck_manager/DeckManagerElement'

export default {
    name: 'DeckManagerPage',
    components: {
        DeckManagerElement,
    },
}
</script>
