<template>
    <card-search-element
        :mode="mode"
        :card_list_id="card_list_id"
    />
</template>

<script>

import CardSearchElement from '@/components/elements/search_engine/CardSearchElement'
import { SEARCH_ENGINE } from '@/constants'

export default {
    name: 'DeckViewCardsPage',
    data: () => ({
        mode: SEARCH_ENGINE.MODE.DECK
    }),
    props: {
        card_list_id: Number,
    },
    components: {
        CardSearchElement,
    },
    mounted() {
        console.log("987987987987978")
        console.log(this.card_list_id)
    },
}
</script>
