<template>
    <v-container>
        <h1 class="text-h4 mt-4 mb-6">Statistiques de deck</h1>

        <v-row>
            <v-col md="8">
                <h2 class="text-h5 my-4 text-center">
                    Courbe de mana
                </h2>
                <mana-curve-chart-element :card_list_id="card_list_id" />
            </v-col>

            <v-col md="4">
                <h2 class="text-h5 my-4 text-center">
                    Répartition par types
                </h2>
                <card-meta-type-pie-chart-element :card_list_id="card_list_id" />
            </v-col>
        </v-row>

    </v-container>
</template>


<script>

import ManaCurveChartElement from '@/components/elements/charts/ManaCurveChartElement'
import CardMetaTypePieChartElement from '@/components/elements/charts/CardMetaTypePieChartElement'

export default {
    name: 'DeckStatisticsPage',
    props: {
        card_list_id: Number,
    },
    components: {
        ManaCurveChartElement,
        CardMetaTypePieChartElement,
    }
}

</script>

