<template>
    <h1> Deck compare </h1>
</template>

<script>

import { SEARCH_ENGINE } from '@/constants'

export default {
    name: 'DeckComparePage',
    data: () => ({
        mode: SEARCH_ENGINE.MODE.COLLECTION
    }),
}
</script>
