<template>
    <card-search-element
        :mode="mode"
    />
</template>

<script>

import { SEARCH_ENGINE } from '@/constants'

import CardSearchElement from '@/components/elements/search_engine/CardSearchElement'

export default {
    name: 'HomePage',
    data: () => ({
        mode: SEARCH_ENGINE.MODE.GLOBAL_SEARCH
    }),
    components: {
        CardSearchElement,
    },
}
</script>
