<template>
    <v-container>
        <h1 class="text-h4 mt-4 mb-2">Collection du set</h1>
        <h1 class="text-h5 mt-2 mb-6">{{ set_name }} ({{ set_id }})</h1>
        <p class="text-body-2">
            Total dans ce set : {{ set_card_count }}
        <p>
        <p class="text-body-2">
            Date de sortie <strong>{{ set_released_at | formatDate}}</strong>
        </p>

        <v-row>
            <v-col
                class="pa-1"
                v-for="card in all_set_cards"
                :key="`${card.id}-${card.card_list_item_id}`"
                cols="1"
            >

                <v-img
                    v-if="card.in_collection"
                    lazy-src="https://c1.scryfall.com/file/scryfall-cards/normal/front/2/e/2e2a4f07-d34d-422b-bc21-ac5761670e8a.jpg?1623291908"
                    :src="card.image_uris.small"
                    style="opacity: 1"
                />
                <v-img
                    v-else
                    lazy-src="https://c1.scryfall.com/file/scryfall-cards/normal/front/2/e/2e2a4f07-d34d-422b-bc21-ac5761670e8a.jpg?1623291908"
                    :src="card.image_uris.small"
                    style="opacity: 0.2"
                />
                
            </v-col>
        </v-row>
    </v-container>
</template>

<script>

import { mapGetters, mapActions, mapMutations } from 'vuex'
import { CARD_STORE } from '@/constants'

export default {
    name: 'MyCollectionSetPage',
    props: {
        set_id: String,
    },
    data: () => ({
        set_name: '',
        set_card_count: 0,
        set_released_at: null,

        all_set_cards: [],
    }),
    computed: {
        ...mapGetters({
            card_list: 'card_store/cardList',
            card_search_total_count: 'card_store/cardSearchTotalCount',
            collection_card_list_id: 'card_list_store/getCollectionCardListId',
            card_referential_set_list: 'card_referential_store/getCardReferentialSetList',
        }),
    },
    methods: {
        ...mapActions({
            processSearchData: 'card_store/processSearchData',
            processSearchCount: 'card_store/processSearchCount',
            resetCardStore: 'card_store/reset',
            setLoading: 'app_layout_store/setLoading',
        }),
        ...mapMutations({
            setPage: 'card_store/set_page',
            setLimit: 'card_store/set_limit',
            setSearchMode: 'card_store/set_search_mode',
            setCriteriaCardListId: 'card_store/set_criteria_card_list_id',
            setGroupByCardId: 'card_store/set_group_by_card_id',
            setSet: 'card_store/set_criteria_set',
            setLang: 'card_store/set_criteria_lang',
            setSort: 'card_store/set_sort',
        }),
        prepareData(data) {
            if (data.card_faces) {
                return {
                    ...data,
                    ...data.card_faces[0]
                }
            }
            return data
        }
    },
    async mounted() {
        const set = this.card_referential_set_list.find((referential_set) => referential_set.id === this.set_id)

        this.set_name = set.name
        this.set_card_count = set.card_count
        this.set_released_at = set.released_at

        // fr
        this.resetCardStore()
        this.setSearchMode(CARD_STORE.SEARCH_MODE.PUBLIC)
        this.setPage(1)
        this.setLimit(this.set_card_count)
        this.setSet(set.code)
        this.setLang('fr')
        this.setSort('precalculated_value.collector_number')
        await this.processSearchData()

        const card_set_list = [...this.card_list]

        this.resetCardStore()
        this.setSearchMode(CARD_STORE.SEARCH_MODE.AGGREGATED)
        this.setPage(1)
        this.setLimit(this.set_card_count)
        this.setSet(set.code)
        this.setLang('fr')
        this.setCriteriaCardListId(this.collection_card_list_id)
        
        await this.processSearchData()
        const collection_card_list = [...this.card_list]

        this.all_set_cards = card_set_list.map((data) => {

            const in_collection = collection_card_list.find((collection_card) => collection_card.id === data.id)
            return {
                ...this.prepareData(data),
                in_collection: in_collection === undefined ? false : true,
            }
        })
        
    }
    
}
</script>
