<template>
    <v-container>
        <h1 class="text-h4 mt-4 mb-6">Infos sur la collection</h1>

        <div class="mb-8">
            <v-btn
                v-for="sort in sort_list"
                :key="sort.name"
                rounded
                x-small
                class="mx-1"
                :outlined="isActive(sort.name)"
                @click="switchSort(sort.name)"
            >

                <v-icon left v-if="!isSortAsc(sort.name) && !isSortDesc(sort.name)">
                    mdi-chevron-right
                </v-icon>
            
                <v-icon left v-if="isSortAsc(sort.name)">
                    mdi-chevron-up
                </v-icon>
            
                <v-icon left v-if="isSortDesc(sort.name)">
                    mdi-chevron-down
                </v-icon>
                    {{ sort.label }}
            </v-btn>
        </div>

        <v-row v-for="set in diplay_set_list" :key="set.id">

            <v-col md="1">
                <center>
                    <v-img :src="set.icon_svg_uri" width="50px"></v-img>
                </center>
            </v-col>

            <v-col md="6">
                <router-link
                    tag="button"
                    class="text-h6"
                    style="cursor: pointer"
                    link
                    :to="{ name: 'collection_set', params: { set_id: set.id } }"
                >
                    {{ set.name }}
                </router-link>
                <p class="text-body-2">
                    Date de sortie <strong>{{ set.released_at | formatDate}}</strong>
                </p>
            </v-col>

            <v-col md="5">
                    {{ set.collection_card_count }} / {{ set.card_count }}

                    <v-progress-linear
                        v-model="set.collection_filled_percentage"
                        color="blue-grey"
                        height="25"
                        >
                        <template v-slot:default="{ value }">
                            <strong>{{ Math.ceil(value) }}%</strong>
                        </template>
                    </v-progress-linear>
            </v-col>
        </v-row>

    </v-container>
</template>

<script>

import { mapActions, mapMutations, mapGetters } from 'vuex'
import { CARD_STORE } from '@/constants'
import moment from 'moment'

export default {
    name: 'MyCollectionInfoPage',
    data: () => ({
        mode: CARD_STORE.SEARCH_MODE.AGGREGATED,
        diplay_set_list: [],
        sort_list: [
            {
                value: null,
                name: 'collection_filled_percentage',
                label: 'Pourcentage'
            },
            {
                value: null,
                name: 'collection_card_count',
                label: 'Nombre de cartes'
            },
            {
                value: null,
                name: 'released_at_timestamp',
                label: 'Date de sortie'
            }
        ],
    }),
    computed: {
        ...mapGetters({
            card_list: 'card_store/cardList',
            card_search_total_count: 'card_store/cardSearchTotalCount',
            collection_card_list_id: 'card_list_store/getCollectionCardListId',
            card_referential_list: 'card_referential_store/getCardReferentialSetList',
        }),
    },
    methods: {
        ...mapActions({
            processSearchData: 'card_store/processSearchData',
            processSearchCount: 'card_store/processSearchCount',
            resetCardStore: 'card_store/reset',
            setLoading: 'app_layout_store/setLoading',
        }),
        ...mapMutations({
            setCriteriaQuickSearch: 'card_store/set_criteria_quick_search',
            setPage: 'card_store/set_page',
            setLimit: 'card_store/set_limit',
            setSearchMode: 'card_store/set_search_mode',
            setCriteriaCardListId: 'card_store/set_criteria_card_list_id',
            setGroupByCardId: 'card_store/set_group_by_card_id',
        }),
        prepareDisplaySetList() {
            this.card_referential_list
                .filter((set) => set.card_count && set.card_count > 0)
                .forEach((set) => {
                    const found_set_list = this.card_list.filter((card) => card.set_id === set.id)
                    if (found_set_list.length > 0) {
                        this.diplay_set_list.push({
                            ...set,
                            collection_card_count: found_set_list.length,
                            collection_filled_ratio: found_set_list.length / set.card_count,
                            collection_filled_percentage: (found_set_list.length / set.card_count) * 100,
                            released_at_timestamp: moment(set.released_at).format('X')
                        })
                    }
                })
        },
        async switchSort(name) {
            this.resetAllSorts(name)
            const index = this.sort_list.findIndex((sort) => sort.name === name)
            if (this.sort_list[index].value === null) {
                this.sort_list[index].value = 1;
            } else if (this.sort_list[index].value === 1) {
                this.sort_list[index].value = -1
            } else {
                this.sort_list[index].value = null;
            }
            this.applySortOnDisplaySetList()
        },
        isActive(name) {
            return this.sort_list.find((sort) => sort.name === name).value !== null
        },
        getActiveSort() {
            return this.sort_list.find((sort) => sort.value !== null)
        },
        isSortAsc(name) {
            return this.sort_list.find((sort) => sort.name === name).value === 1
        },
        isSortDesc(name) {
            return this.sort_list.find((sort) => sort.name === name).value === -1
        },
        resetAllSorts(except_name) {
            this.sort_list.forEach((sort) => {
                if (!(except_name && except_name === sort.name)) {
                    sort.value = null
                }
            })
        },
        applySortOnDisplaySetList() {
            const active_sort = this.getActiveSort()
            if (!active_sort) {
                return
            }
            console.log("active_sort", active_sort);
            const sort_function = this.isSortAsc(active_sort.name)
                ? (item1, item2) => item1[active_sort.name] - item2[active_sort.name]
                : (item1, item2) => item2[active_sort.name] - item1[active_sort.name]
            this.diplay_set_list = this.diplay_set_list.sort(sort_function)
        }
    },
    async mounted() {
        await this.setLoading(true)
        await this.resetCardStore()

        this.setSearchMode(this.mode)
        this.setGroupByCardId(true)
        this.setCriteriaCardListId(this.collection_card_list_id)
        await this.processSearchCount()
        this.setLimit(this.card_search_total_count)

        await this.processSearchData()
        await this.setLoading(false)
        this.prepareDisplaySetList()
    }
}
</script>
