<template>
    <card-search-element :mode="mode" />
</template>

<script>

import {
    CardSearchElement,
} from '@/components/elements/search_engine'

import { SEARCH_ENGINE } from '@/constants'

export default {
    name: 'MyCollectionPage',
    data: () => ({
        mode: SEARCH_ENGINE.MODE.COLLECTION
    }),
    components: {
        CardSearchElement,
    },
}
</script>
