<template>
    <v-dialog
        v-model="dialog"
        persistent
        max-width="1024px"
    >
        <template v-slot:activator="{ on, attrs }">
            <v-btn
                text
                block
                small
                class="mt-3"
                v-bind="attrs"
                v-on="on"
            >
                Recherche avancée
            </v-btn>
        </template>

        <v-card>
            <v-card-title>
                <span class="text-h5">Recherche avancée</span>
            </v-card-title>
            <v-card-text>
                <v-container>
                    <v-row>
                        <v-col
                            cols="12"
                            sm="6"
                        >
                            <card-color-criterion-element v-model="color_identity_list" />
                        </v-col>
                    </v-row>

                    <v-row>
                        <v-col
                            cols="12"
                            sm="6"
                        >
                            <v-select
                                :items="language_list"
                                label="Langue"
                                v-model="lang"
                                small-chips
                                append-outer-icon="mdi-close"
                                @click:append-outer="lang = null"
                            ></v-select>
                        </v-col>
                    </v-row>

                    <!-- CardSetCriterionElement -->
                    <v-row>
                        <v-col
                            cols="12"
                            sm="6"
                        >
                            <card-set-criterion-element v-model="set_list" />
                        </v-col>
                    </v-row>

                    <v-row>
                        <v-col
                            cols="12"
                            sm="6"
                        >
                            <v-text-field
                                    label="Numéro dans la collection"
                                    name="collector_number"
                                    v-model="collector_number"
                                    type="text"
                                />
                        </v-col>
                    </v-row>

                    <!-- CardTypeCriterionElement -->
                    <v-row>
                        <v-col
                            cols="12"
                            sm="6"
                        >
                            <card-type-criterion-element v-model="type_list" />
                        </v-col>
                    </v-row>

                    <!-- CardKeywordCriterionElement -->
                    <v-row>
                        <v-col
                            cols="12"
                            sm="6"
                        >
                            <card-keyword-criterion-element v-model="keyword_list" />
                        </v-col>
                    </v-row>


                </v-container>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                    color="blue darken-1"
                    text
                    @click="dialog = false"
                >
                    Fermer
                </v-btn>
                <v-btn
                    color="blue darken-1"
                    text
                    @click="applySearch()"
                >
                    Rechercher
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>


<script>

import { mapActions, mapGetters, mapMutations } from 'vuex'
import { CRITERIA_LANG_LIST } from '@/constants'
import {
    CardSetCriterionElement,
    CardColorCriterionElement,
    CardTypeCriterionElement,
    CardKeywordCriterionElement,
} from '@/components/elements/search_engine/criterias'


export default {
    components: {
        CardSetCriterionElement,
        CardColorCriterionElement,
        CardTypeCriterionElement,
        CardKeywordCriterionElement,
    },
    data: () => ({
        dialog: false,
        language_list: CRITERIA_LANG_LIST,
    }),
    watch: {
    },
    computed: {
        ...mapGetters({
            criteria_lang: 'card_store/criteriaLang',
            criteria_collector_number: 'card_store/criteriaCollectionNumber',
            criteria_set: 'card_store/criteriaSet',
            criteria_set_list: 'card_store/criteriaSetList',
            criteria_color_identity_list: 'card_store/criteriaColorIdentityList',
            criteria_type_list: 'card_store/criteriaTypeList',
            criteria_keyword_list: 'card_store/criteriaKeywordList',
        }),
        collector_number: {
            get() {
                return this.criteria_collector_number
            },
            set(value) {
                if (value === '') {
                    this.setCriteriaCollectionNumber(null)
                } else {
                    this.setCriteriaCollectionNumber(value)
                }
            }
        },
        lang: {
            get() {
                return this.criteria_lang
            },
            set(value) {
                this.setCriteriaLang(value)
            }
        },
        set: {
            get() {
                return this.criteria_set
            },
            set(value) {
                this.setCriteriaSet(value)
            }
        },
        set_list: {
            get() {
                return this.criteria_set_list
            },
            set(value) {
                this.setCriteriaSetList(value)
            }
        },
        type_list: {
            get() {
                return this.criteria_type_list
            },
            set(value) {
                this.setCriteriaTypeList(value)
            }
        },
        keyword_list: {
            get() {
                return this.criteria_keyword_list
            },
            set(value) {
                this.setCriteriaKeywordList(value)
            }
        },
        color_identity_list: {
            get() {
                return this.criteria_color_identity_list
            },
            set(value) {
                this.setCriteriaColorList(value)
            }
        },

    },
    methods: {
        ...mapActions({
            processSearchData: 'card_store/processSearchData',
            processSearchCount: 'card_store/processSearchCount',
        }),
        ...mapMutations({
            setCriteriaLang: 'card_store/set_criteria_lang',
            setCriteriaCollectionNumber: 'card_store/set_criteria_collector_number',
            setCriteriaSet: 'card_store/set_criteria_set',
            setCriteriaSetList: 'card_store/set_criteria_set_list',
            setCriteriaTypeList: 'card_store/set_criteria_type_list',
            setCriteriaKeywordList: 'card_store/set_criteria_keyword_list',
            setCriteriaColorList: 'card_store/set_criteria_color_identity_list',
            setPage: 'card_store/set_page',
        }),
        async applySearch() {
            await this.processSearchData()
            await this.processSearchCount()
            this.dialog = false;
            this.setPage(1)
        }
    }
}
</script>