<template>
    <v-container>

        <search-bar-element  class="mt-8" />

        <div class="text-center mb-10" v-if="display_pagination">
            <v-pagination
                v-model="page"
                :length="Math.ceil(card_search_total_count / limit)"
                circle
            >
            </v-pagination>
        </div>

        <v-row>
            <v-col
                v-for="card in card_list"
                :key="`${card.id}-${card.card_list_item_id}`"
                cols="3"
            >
                <card-element
                    :data="card"
                    :mode="mode"
                />
            </v-col>
        </v-row>

        <div class="text-center my-10" v-if="display_pagination">
            <v-pagination
                v-model="page"
                :length="Math.ceil(card_search_total_count / limit)"
                circle
            >
            </v-pagination>
        </div>

    </v-container>
</template>

<script>
import { mapActions, mapGetters, mapMutations } from 'vuex'

import CardElement from '@/components/elements/card/CardElement'
import SearchBarElement from '@/components/elements/search_engine/SearchBarElement'
import { CARD_STORE, SEARCH_ENGINE } from '@/constants'

export default {
    name: 'CardSearchElement',
    props: {
        mode: Number,
        card_list_id: Number,
    },
    components: {
        CardElement,
        SearchBarElement
    },
    data: () => ({
        search_timer_handler: null,
    }),
    computed: {
        ...mapGetters({
            card_list: 'card_store/cardList',
            card_search_total_count: 'card_store/cardSearchTotalCount',
            criteria_quick_search: 'card_store/criteriaQuickSearch',
            store_page: 'card_store/page',
            limit: 'card_store/limit',
            collection_card_list_id: 'card_list_store/getCollectionCardListId',
        }),
        display_pagination() {
            return this.card_search_total_count > this.limit
        },
        page: {
            get() {
                return this.store_page
            },
            set(value) {
                this.setPage(value)
            }
        }
    },
    methods: {
        ...mapActions({
            processSearchData: 'card_store/processSearchData',
            processSearchCount: 'card_store/processSearchCount',
            resetStore: 'card_store/reset',
            setLoading: 'app_layout_store/setLoading',
        }),
        ...mapMutations({
            setCriteriaQuickSearch: 'card_store/set_criteria_quick_search',
            setPage: 'card_store/set_page',
            setSearchMode: 'card_store/set_search_mode',
            setCriteriaCardListId: 'card_store/set_criteria_card_list_id',
            setGroupByCardId: 'card_store/set_group_by_card_id',
            setGroupByOracleId: 'card_store/set_group_by_oracle_id',
        }),
    },
    async mounted() {
        await this.resetStore();
        
        console.log("this.mode this.modethis.modethis.mode", this.mode)
        if (this.mode === SEARCH_ENGINE.MODE.COLLECTION) {
            await this.setLoading(true)
            this.setSearchMode(CARD_STORE.SEARCH_MODE.AGGREGATED)
            this.setCriteriaCardListId(this.collection_card_list_id)
            this.setGroupByCardId(true)
            this.processSearchData()
            this.processSearchCount()
            await this.setLoading(false)
        } else if (this.mode === SEARCH_ENGINE.MODE.DECK) {
            await this.setLoading(true)
            this.setSearchMode(CARD_STORE.SEARCH_MODE.AGGREGATED)
            this.setCriteriaCardListId(this.card_list_id)
            this.setGroupByOracleId(true)
            this.processSearchCount()
            this.processSearchData()
            await this.setLoading(false)
        }
    },
    watch: {
        async page() {
            await this.setLoading(true)
            await this.processSearchData()
            await this.setLoading(false)
        }
    }

}
</script>
