<template>
    <v-row>
        <v-col cols="10"> 
            <v-text-field
                solo
                label="Recherche"
                append-icon="mdi-magnify"
                v-model="quick_search"
                rounded
                hide-details
            ></v-text-field>

            <sort-actions-bar-element class="my-5" />

        </v-col>
        <v-col cols="2"> 
            <advanced-search-card />
        </v-col>
    </v-row>
</template>

<script>
import { mapActions, mapGetters, mapMutations } from 'vuex'

import AdvancedSearchCard from '@/components/elements/search_engine/AdvancedSearchCard'
import SortActionsBarElement from '@/components/elements/search_engine/SortActionsBarElement'


export default {
    name: 'SearchBarElement',
    props: [
        'mode',
    ],
    components: {
        AdvancedSearchCard,
        SortActionsBarElement,
    },
    data: () => ({
        search_timer_handler: null,
    }),
    computed: {
        ...mapGetters({
            criteria_quick_search: 'card_store/criteriaQuickSearch',
        }),
        quick_search: {
            get() {
                return this.criteria_quick_search
            },
            set(value) {
                this.setCriteriaQuickSearch(value)
            }
        },
    },
    methods: {
        ...mapActions({
            processSearchData: 'card_store/processSearchData',
            processSearchCount: 'card_store/processSearchCount',
        }),
        ...mapMutations({
            setCriteriaQuickSearch: 'card_store/set_criteria_quick_search',
        }),
    },
    watch: {
        quick_search() {
            if (this.quick_search === '') {
                this.quick_search = null
            }

            if (this.quick_search === null || this.quick_search.length >= 3) {
                clearTimeout(this.search_timer_handler)
                this.search_timer_handler = setTimeout(
                    () => {
                        this.processSearchCount()
                        this.processSearchData()
                    },
                    500
                )
            }
        },
    }

}
</script>
