<template>
    <div>
        <v-btn
            v-for="sort in sort_list"
            :key="sort.name"
            rounded
            x-small
            class="mx-1"
            :outlined="isActive(sort.name)"
            @click="switchSort(sort.name)"
        >

            <v-icon left v-if="!isSortAsc(sort.name) && !isSortDesc(sort.name)">
                mdi-chevron-right
            </v-icon>
        
            <v-icon left v-if="isSortAsc(sort.name)">
                mdi-chevron-up
            </v-icon>
        
            <v-icon left v-if="isSortDesc(sort.name)">
                mdi-chevron-down
            </v-icon>
                {{ sort.label }}
        </v-btn>
    </div>
</template>

<script>

import { mapActions, mapGetters, mapMutations } from 'vuex'

export default {
    name: 'SortActionsBarElement',
    data: () => ({
        sort_list: [
            {
                value: null,
                name: 'color',
                label: 'Color'
            },
            {
                value: null,
                name: 'precalculated_value.collector_number',

                label: 'Collector'
            }
        ],
    }),
    methods: {
        ...mapMutations({
            setSort: 'card_store/set_sort',
        }),
        ...mapActions({
            processSearchData: 'card_store/processSearchData',
        }),
        async switchSort(name) {
            this.resetAllSorts(name)
            const index = this.sort_list.findIndex((sort) => sort.name === name)
            if (this.sort_list[index].value === null) {
                this.sort_list[index].value = 1;
            } else if (this.sort_list[index].value === 1) {
                this.sort_list[index].value = -1
            } else {
                this.sort_list[index].value = null;
            }
            this.sort = this.buildSortValue()
            await this.processSearchData()
        },
        isActive(name) {
            return this.sort_list.find((sort) => sort.name === name).value !== null
        },
        isSortAsc(name) {
            return this.sort_list.find((sort) => sort.name === name).value === 1
        },
        isSortDesc(name) {
            return this.sort_list.find((sort) => sort.name === name).value === -1
        },
        resetAllSorts(except_name) {
            this.sort_list.forEach((sort) => {
                if (!(except_name && except_name === sort.name)) {
                    sort.value = null
                }
            })
        },
        buildSortValue() {
            const sort = this.sort_list.find((sort_element) => sort_element.value !== null)
            if (sort === undefined) {
                return null
            } else if (sort.value === -1) {
                return `-${sort.name}`
            }
            return sort.name
        }
    },
    computed: {
        ...mapGetters({
            sort: 'card_store/sort',
        }),
        sort: {
            get() {
                return this.sort
            },
            set(value) {
                this.setSort(value)
            }
        },
    }
}
</script>
