<template>
    <div>

        <div class="my-5">
            <v-form>
                <v-text-field
                    label="Email"
                    name="email"
                    v-model="email"
                    prepend-icon="mdi-account"
                    type="text"
                />

                <v-text-field
                    id="password"
                    label="Password"
                    name="password"
                    v-model="password"
                    prepend-icon="mdi-key"
                    type="password"
                />
            </v-form>
        </div>
        <div align="right">
            <v-btn
                color=""
                @click="login()"
                :loading="loading"
            >
                Se connecter
            </v-btn>
        </div>

        <v-snackbar
            :timeout="10000"
            :top="true"
            color="error"
            v-model="snackbar"
        >
            {{ snackbar_text }}
            <v-btn
                text
                @click.native="snackbar = false"
            >
                Fermer
            </v-btn>
        </v-snackbar>
    </div>
</template>

<script>

import { mapActions, mapGetters } from 'vuex'

export default {
    name: 'UserLoginFormElement',

    data() {
        return {
            email : "",
            password : "",

            loading: false,
            snackbar: false,

            snackbar_text: '',

        }
    },
    computed: {
        ...mapGetters({
            isConnected: 'authentication_store/isConnected',
        })
    },
    methods: {
        ...mapActions({
            authenticate: 'authentication_store/login',
        }),
        async login() {
            this.loading = true
            try {
                await this.authenticate({
                    email: this.email,
                    password: this.password,
                })
                this.$router.push({ name: 'collection' })
            } catch (error) {
                if (error.response.status == 401) {
                    this.snackbar_text = 'Votre email ou mot de passe est incorrect'
                } else {
                    this.snackbar_text = 'Probleme technique, veuillez essayer plus tard'
                }
                this.email = ''
                this.password = ''
                this.loading = false
                this.snackbar = true
            }
        },
    },
}

</script>