<template>
    <v-navigation-drawer
        app
        :clipped="$vuetify.breakpoint.lgAndUp"
        :value="isOpenedDrawer"
        @input="setOpenedDrawer"
    >

        <v-list dense nav>
            <v-list-item
                link
                :to="{ name: 'home' }"
                :exact="true"
            >
                <v-list-item-icon>
                    <v-icon>mdi-magnify</v-icon>
                </v-list-item-icon>

                <v-list-item-content>
                    <v-list-item-title>Recherche</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
        </v-list>


        <!-- Ma Collection section -->
        <v-list-item>
            <v-list-item-content>
                <v-list-item-title class="title">
                    Ma collection
                </v-list-item-title>
                <v-list-item-subtitle>
                    Gestion de ma collection
                </v-list-item-subtitle>
            </v-list-item-content>
        </v-list-item>

        <v-divider></v-divider>


        <v-list dense nav>
            <v-list-item
                link
                :to="{ name: 'collection' }"
                :exact="true"
            >
                <v-list-item-icon>
                    <v-icon>mdi-view-dashboard</v-icon>
                </v-list-item-icon>

                <v-list-item-content>
                    <v-list-item-title>Liste de cartes</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
        </v-list>

        <v-list dense nav>
            <v-list-item
                link
                :to="{ name: 'collection_info' }"
                :exact="true"
            >
                <v-list-item-icon>
                    <v-icon>mdi-book-information-variant</v-icon>
                </v-list-item-icon>

                <v-list-item-content>
                    <v-list-item-title>Infos collection</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
        </v-list>



        <v-list-item>
            <v-list-item-content>
                <v-list-item-title class="title">
                    Mes decks
                </v-list-item-title>
                <v-list-item-subtitle>
                    gestion de mes decks
                </v-list-item-subtitle>
            </v-list-item-content>
        </v-list-item>

        <v-divider></v-divider>
 
        <v-list dense nav>
            <v-list-item
                link
                :to="{
                    name: 'campaign-create',
                    params: {
                        campaign_status: 'create',
                    },
                }"
                :exact="true"
            >
                <v-list-item-icon>
                    <v-icon>mdi-text-box-plus-outline</v-icon>
                </v-list-item-icon>

                <v-list-item-content>
                    <v-list-item-title>Créer nouveau deck</v-list-item-title>
                </v-list-item-content>
            </v-list-item>

            <v-list-item
                link
                :to="{
                    name: 'decks',
                    params: {
                        campaign_status: 'draft',
                    },
                }"
                :exact="true"
            >
                <v-list-item-icon>
                    <v-icon>mdi-file-document-edit-outline</v-icon>
                </v-list-item-icon>

                <v-list-item-content>
                    <v-list-item-title>Brouillons de decks</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
        </v-list>


        <!-- Mes listes -->
        <!--
        <v-list-item>
            <v-list-item-content>
                <v-list-item-title class="title">
                    Mes listes
                </v-list-item-title>
                <v-list-item-subtitle>
                    Mes listes de cartes
                </v-list-item-subtitle>
            </v-list-item-content>
        </v-list-item>

        <v-divider></v-divider>

        <v-list dense nav>
            <v-list-item
                link
                @click="logout"
            >
                <v-list-item-icon>
                    <v-icon>mdi-text-box-plus</v-icon>
                </v-list-item-icon>

                <v-list-item-content>
                    <v-list-item-title>Créer une nouvelle liste</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
            <v-list-item
                link
                @click="logout"
            >
                <v-list-item-icon>
                    <v-icon>mdi-file-document-edit</v-icon>
                </v-list-item-icon>

                <v-list-item-content>
                    <v-list-item-title>Gérer mes listes de cartes</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
        </v-list>
        -->


        <!-- User options -->
        <v-list-item>
            <v-list-item-content>
                <v-list-item-title class="title">
                    Utilisateur
                </v-list-item-title>
                <v-list-item-subtitle>
                    Paramètres
                </v-list-item-subtitle>
            </v-list-item-content>
        </v-list-item>

        <v-divider></v-divider>

        <v-list dense nav>

            <v-list-item
                link
                @click="logout"
            >
                <v-list-item-icon>
                    <v-icon>mdi-logout</v-icon>
                </v-list-item-icon>

                <v-list-item-content>
                    <v-list-item-title>Déconnection</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
        </v-list>

    </v-navigation-drawer>
</template>

<script>

import { mapGetters, mapActions } from 'vuex'

export default {
    data: () => ({
        right: null,
    }),
    mounted() {
        this.setOpenedDrawer(this.$vuetify.breakpoint.lgAndUp)
    },
    computed: {
        ...mapGetters({
            isOpenedDrawer: 'app_layout_store/isOpenedDrawer',
            cardListList: 'card_list_store/cardListList',
            user: 'authentication_store/user',
            user_id: 'authentication_store/user_id',
        }),
    },
    methods: {
        ...mapActions({
            setOpenedDrawer: 'app_layout_store/setOpenedDrawer',
            Authenticationlogout: 'authentication_store/logout',
        }),
        logout() {
            this.Authenticationlogout();
            this.$router.push({name: 'access'});
        },
    },
}

</script>
