<template>
    <component :is="layout">
        <router-view></router-view>
    </component>
</template>


<script>
import { mapGetters, mapActions } from 'vuex'

export default {
    name: 'App',
    data: () => ({
        ready: false,
    }),
    async mounted() {
        await this.initAllStores()
        this.ready = true
    },
    methods: {
        ...mapActions({
            initAllStores: 'init',
        }),
    },
    computed: {
        ...mapGetters({
            is_connected: 'authentication_store/isConnected',
        }),
        layout() {
            if (this.ready === false) {
                return 'FullPageLoader'
            }
            if (this.$route.meta.layout) {
                return this.$route.meta.layout
            }
            if (this.is_connected) {
                return 'AppLayout'
            }
            return 'PublicAppLayout'
        }
    },
    watch: {
        async is_connected() {
            this.ready = false
            await this.initAllStores()
            this.ready = true
        }
    }
}
</script>

<style>
/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #FFF
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #999;
}
</style>