<template>
    <v-dialog
      v-model="dialog"
      max-width="90%"
    >
       <template v-slot:activator="{ on, attrs }">
           <slot name="activator" :on="on" :attrs="attrs">
                <v-btn
                    color="primary"
                    dark
                    v-bind="attrs"
                    v-on="on"
                >
                    Open Dialog
                </v-btn>
            </slot>
      </template>

      <v-card>
        <v-card-title>
          <span class="text-h5">
              {{ data.printed_name || data.name}}
          </span>
        </v-card-title>
        <v-card-text>

            <v-row>
                <v-col cols="3">
                    <card-image-element :data="data" />
                </v-col>

                <v-col cols="3">
                    <card-detail-features-element :data="data" />
                </v-col>

                <v-col cols="3">
                    <collection-card-widget-element
                        v-if="is_connected"
                        :data="{ card_id: data.id, oracle_id: data.oracle_id}"
                    />
                    
                    <deck-card-widget-element
                        class="mt-3"
                        v-if="is_connected"
                        :data="{ card_id: data.id, oracle_id: data.oracle_id}"
                    />

                    <v-btn 
                        :to="{ name: 'better_card_finder', params: { card_id: data.id }}"
                        class="mt-6"
                        elevation="2"
                        v-if="is_connected"
                    >
                        Meilleure carte dans la collection
                    </v-btn>
                </v-col>

            </v-row>

        </v-card-text>
        <v-card-actions>
            <v-spacer></v-spacer>
                <v-btn
                    color="blue darken-1"
                    text
                    @click="dialog = false"
                >
                    Close
                </v-btn>
            </v-card-actions>
      </v-card>
    </v-dialog>
</template>


<script>

import { mapActions, mapGetters } from 'vuex'

import {
    CollectionCardWidgetElement,
    DeckCardWidgetElement,
    CardDetailFeaturesElement,
    CardImageElement,
} from '@/components/elements/card/'

export default {
    props: {
        input_data: Object,
    },
    components: {
        CollectionCardWidgetElement,
        DeckCardWidgetElement,
        CardDetailFeaturesElement,
        CardImageElement,
    },
    data: () => ({
        dialog: false,
    }),
    computed: {
        ...mapGetters({
            is_connected: 'authentication_store/isConnected',
        }),
        data() {
            return this.preparedData(this.input_data)
        }
    },
    methods: {
        ...mapActions({
            preparedData: 'card_store/preparedData',
        })
    }
}
</script>