<template>
    <v-dialog
      v-model="dialog"
      max-width="90%"
    >
       <template v-slot:activator="{ on, attrs }">
           <slot name="activator" :on="on" :attrs="attrs">
                <v-btn
                    color="primary"
                    dark
                    v-bind="attrs"
                    v-on="on"
                >
                    Open Dialog
                </v-btn>
            </slot>
      </template>

      <v-card>
        <v-card-title>
          <span class="text-h5">
              {{ prepared_data.printed_name || prepared_data.name}}
          </span>
        </v-card-title>
        <v-card-text>

            <v-row>
                <v-col cols="3" v-for="card in prepared_data_list" :key="card.id">
                    <card-detail-element :data="card">
                        <template v-slot:activator="{ on, attrs }">
                            <v-img
                                lazy-src="https://c1.scryfall.com/file/scryfall-cards/normal/front/2/e/2e2a4f07-d34d-422b-bc21-ac5761670e8a.jpg?1623291908"
                                :src="card.image_uris.normal"
                                v-bind="attrs"
                                v-on="on"
                            />
                        </template>
                    </card-detail-element>
                </v-col>
            </v-row>

        </v-card-text>
        <v-card-actions>
            <v-spacer></v-spacer>
                <v-btn
                    color="blue darken-1"
                    text
                    @click="dialog = false"
                >
                    Close
                </v-btn>
            </v-card-actions>
      </v-card>
    </v-dialog>
</template>

<script>
// @Todo: Needs a card store instead of directly using card_repository
import {
    card_repository,
} from '@/repositories'

import { mapGetters } from 'vuex'
import CardDetailElement from '@/components/elements/card/CardDetailElement'

export default {
    props: {
        data: Object,
    },
    components: {
        CardDetailElement,
    },
    data: () => ({
        dialog: false,
        card_list: [],
    }),
    async mounted() {
        const response = await card_repository.aggregatedSearch(
            this.user_id,
            {
                oracle_id_list: [
                    this.prepared_data.oracle_id
                ],
                group_by_card_id: true,
                card_list_id: this.card_list_id,
            }
        )
        this.card_list = response.card_list
    },
    computed: {
        ...mapGetters({
            is_connected: 'authentication_store/isConnected',
            group_by_oracle_id: 'card_store/groupByOracleId',
            user_id: 'authentication_store/user_id',
            card_list_id: 'card_store/criteriaCardListId',
        }),
        prepared_data() {
            if (this.data.card_faces) {
                return {
                    ...this.data,
                    ...this.data.card_faces[0]
                }
            }
            return this.data
        },
        prepared_data_list() {
            return this.card_list.map((card) => {
                if (card.card_faces) {
                    return {
                        ...card,
                        ...card.card_faces[0]
                    }
                }
                return card
            })
        },
    },
}
</script>