<template>
    <v-container>
        <v-row>
            <v-col cols="4">
                <span class="text-subtitle-2">
                    Nom anglais:
                </span>
            </v-col>
            <v-col cols="8">
                <span class="text-subtitle-2">
                    {{ data.name }}
                </span>
            </v-col>
        </v-row>
        <v-row>
            <v-col cols="4">
                <span class="text-subtitle-2">
                    Nom du set:
                </span>
            </v-col>
            <v-col cols="8">
                <span class="text-subtitle-2">
                    {{ data.set_name }} ({{ data.set }})
                </span>
            </v-col>
        </v-row>
        <v-row>
            <v-col cols="4">
                <span class="text-subtitle-2">
                    collection num:
                </span>
            </v-col>
            <v-col cols="8">
                <span class="text-subtitle-2">
                    {{ data.collector_number }}
                </span>
            </v-col>
        </v-row>
        <v-row>
            <v-col cols="4">
                <span class="text-subtitle-2">
                    Langue:
                </span>
            </v-col>
            <v-col cols="8">
                <v-chip small>
                    {{ data.lang }}
                </v-chip>
            </v-col>
        </v-row>
        <v-row>
            <v-col cols="4">
                <span class="text-subtitle-2">
                    card_id
                </span>
            </v-col>
            <v-col cols="8">
                <v-chip small>
                    {{ data.id }}
                </v-chip>
            </v-col>
        </v-row>
        <v-row>
            <v-col cols="4">
                <span class="text-subtitle-2">
                    oracle_id
                </span>
            </v-col>
            <v-col cols="8">
                <v-chip small>
                    {{ data.oracle_id }}
                </v-chip>
            </v-col>
        </v-row>

        <card-keyword-view-element :data="data.keywords" />

        <v-row v-if="data.precalculated_value.type_1">
            <v-col cols="4">
                <span class="text-subtitle-2">
                    Type / Sous type
                </span>
            </v-col>
            <v-col cols="8">
                <span class="text-subtitle-2">
                    {{ data.precalculated_value.type_1 }}
                </span>
                <span class="text-subtitle-2" v-if="data.precalculated_value.sub_type_1">
                        / {{ data.precalculated_value.sub_type_1 }}
                </span>
            </v-col>
        </v-row>
        <v-row v-if="data.precalculated_value.type_2">
            <v-col cols="4">
                <span class="text-subtitle-2">
                    Type / Sous type
                </span>
            </v-col>
            <v-col cols="8">
                <span class="text-subtitle-2">
                    {{ data.precalculated_value.type_2 }}
                </span>
                <span class="text-subtitle-2" v-if="data.precalculated_value.sub_type_2">
                        / {{ data.precalculated_value.sub_type_2 }}
                </span>
            </v-col>
        </v-row>
    </v-container>
</template>


<script>

import CardKeywordViewElement from '@/components/elements/card/CardKeywordViewElement'

export default {
    name: 'CardDetailFeaturesElement',
    props: {
        data: Object,
    },
    components: {
        CardKeywordViewElement,
    },
}
</script>