<template>
    <v-img 
        lazy-src="https://c1.scryfall.com/file/scryfall-cards/normal/front/2/e/2e2a4f07-d34d-422b-bc21-ac5761670e8a.jpg?1623291908"
        :src="data.image_uris.large"
    />
</template>

<script>
export default {
    name: 'CardImageElement',
    props: {
        data: Object,
    },
}
</script>