<template>
    <div>
        <h6 v-if="show_count" class="text-body-1 font-weight-black" align="right">
            x{{ data.count }}
        </h6>

        <card-detail-element :data="data" v-if="!display_grouped_popup">
            <template v-slot:activator="{ on, attrs }">
                <v-img
                    lazy-src="https://c1.scryfall.com/file/scryfall-cards/normal/front/2/e/2e2a4f07-d34d-422b-bc21-ac5761670e8a.jpg?1623291908"
                    :src="image_uri"
                    v-bind="attrs"
                    v-on="on"
                />
            </template>
        </card-detail-element>

        <card-group-element :data="data" v-else>
            <template v-slot:activator="{ on, attrs }">
                <v-img
                    lazy-src="https://c1.scryfall.com/file/scryfall-cards/normal/front/2/e/2e2a4f07-d34d-422b-bc21-ac5761670e8a.jpg?1623291908"
                    :src="image_uri"
                    v-bind="attrs"
                    v-on="on"
                />
            </template>
        </card-group-element>
    </div>
</template>

<script>

import { mapGetters, mapActions } from 'vuex'

import CardDetailElement from '@/components/elements/card/CardDetailElement'
import CardGroupElement from '@/components/elements/card/CardGroupElement'

import { SEARCH_ENGINE } from '@/constants'

export default {
    name: 'CardElement',
    components: {
        CardDetailElement,
        CardGroupElement,
    },
    props: {
        data: Object,
        mode: Number,
    },
    methods: {
        ...mapActions({
            preparedData: 'card_store/preparedData',
        }),
    },
    computed: {
        ...mapGetters({
            group_by_oracle_id: 'card_store/groupByOracleId',
        }),
        show_count() {
            return SEARCH_ENGINE.MODE.GLOBAL_SEARCH !== this.mode
        },
        image_uri() {
            return this.prepared_data.image_uris.normal
        },
        prepared_data() {
            return this.preparedData(this.data)
        },
        display_grouped_popup() {
            return this.group_by_oracle_id && this.prepared_data.count > 1
        }
    }
}

</script>

<style>
.v-card--reveal {
    bottom: 1;
    position: absolute;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.5);
}
</style>
