<template>
    <v-row v-if="data.length > 0">
        <v-col cols="4">
            <span class="text-subtitle-2">
                Keywords
            </span>
        </v-col>
        <v-col cols="8">
            <template v-for="keyword in data">
                <v-chip small :key="keyword"  v-if="getText(keyword) !== null">
                    {{ getText(keyword) }}
                </v-chip>
                <v-chip small color="red" text-color="white" :key="keyword" v-else>
                    {{ keyword }}
                </v-chip>
            </template>
        </v-col>
    </v-row>
</template>

<script>

import { CRITERIA_KEYWORD_LIST } from '@/constants'

export default {
    name: 'CardKeywordViewElement',
    props: {
        data: Array,
    },
    data: () => ({
        CRITERIA_KEYWORD_LIST: CRITERIA_KEYWORD_LIST,
    }),
    methods: {
        getText(keyword) {
            const found_translation = CRITERIA_KEYWORD_LIST
                .find((item) => item.value === keyword)
            if (found_translation !== undefined) {
                return found_translation.text
            }
            return null;
        }
    },
}

</script>
