<template>
    <v-sheet
        color="white"
        elevation="2"
        class="pb-2 pt-1"
    >
        <v-container>
            <v-row>
                <v-col cols="5" class="py-1" align="right">
                    <h6 class="text-h6">
                        Collection
                    </h6>
                </v-col>
                <v-col cols="3" class="py-1" align="left">
                    <h6 class="text-h6">
                        {{ total }}
                    </h6>
                </v-col>
                <v-col cols="4" class="pt-3" align="right" @click="display_count_0 = !display_count_0">
                    <v-btn class="mx-1" icon outlined dark x-small color="primary">
                        ...
                    </v-btn>
                </v-col>
            </v-row>

            <template v-for="state in prepared_state_list"  >
                <v-row :key="state.state_id" v-if="state.count > 0 || display_count_0">
                    <v-col cols="5" class="py-0" align="right">
                        <h6 class="text-body-2">
                            {{ state.name }}
                        </h6>
                    </v-col>
                    <v-col cols="2" class="py-0" align="left">
                        <h6 class="text-body-1">
                            {{ state.count }}
                        </h6>
                    </v-col>
                    <v-col cols="5" class="py-0" align="right">
                        <v-btn class="mx-1" icon outlined dark x-small color="red" :loading="loading" :disabled="state.count == 0" @click="remove(state.state_id)">
                            <v-icon dark>
                                mdi-minus
                            </v-icon>
                        </v-btn>
                        <v-btn class="mx-1" icon outlined dark x-small color="green" :loading="loading" @click="create(state.state_id)">
                            <v-icon dark>
                                mdi-plus
                            </v-icon>
                        </v-btn>
                    </v-col>
                </v-row>
            </template>

        </v-container>

    </v-sheet>
</template>

<script>

import { mapGetters, mapActions } from 'vuex'

export default {
    name: 'CollectionCardWidgetElement',
    props: {
        data: Object,
    },
    methods: {
        ...mapActions({
            addCardToList: 'card_list_store/addCardToList',
            deleteCardListItem: 'card_list_store/deleteCardListItem',
            getCollectionCardListItemListCByCardId: 'collection_card_widget_store/getCollectionCardListItemListCByCardId',
        }),

        async create(state) {
            this.loading = true
            await this.addCardToList({
                card_list_id: this.collection_card_list_id,
                state,
                card_id: this.card_id,
                oracle_id: this.data.oracle_id,
                user_id: this.user_id,
            })
            await this.updateCardList()
            this.loading = false
        },

        async remove(state) {
            this.loading = true
            const card_to_remove = this.card_list.find((card) => card.state === state)
            await this.deleteCardListItem({
                user_id: this.user_id,
                card_list_id: this.collection_card_list_id,
                card_list_item_id: card_to_remove.id,
            })
            await this.updateCardList()
            this.loading = false
        },

        async updateCardList() {
            this.card_list = await this.getCollectionCardListItemListCByCardId(this.card_id)
            this.total = this.card_list.length;
        }
    },
    computed: {
        ...mapGetters({
            collection_card_list_id: 'card_list_store/getCollectionCardListId',
            user_id: 'authentication_store/user_id',
        }),
        prepared_state_list() {
            return this.state_list.map((state) => {
                return {
                    ...state,
                    count: this.card_list.filter((card) => card.state === state.state_id).length
                }
            })
        },
        card_id() {
            return this.data.card_id
        }
    },
    async mounted() {
        await this.updateCardList()
        console.log('mounted', this.card_id)
        console.log(this.card_list);
    },
    data: () => ({
        loading: false,
        display_count_0: false,
        card_list: [],
        state_list: [
            {
                state_id: 1,
                name: 'Excellent état',
                count: 23,
            },
            {
                state_id: 2,
                name: 'Bon état',
                count: 25,
            },
            {
                state_id: 3,
                name: 'Etat moyen',
                count: 0,
            },
            {
                state_id: 4,
                name: 'Etat usé',
                count: 0,
            },
            {
                state_id: 5,
                name: 'Etat mauvais',
                count: 0,
            },
        ],
        total: 0,
    }),
}

</script>
