<template>
    <v-sheet
        color="white"
        elevation="2"
        class="pb-2 pt-1"
    >
        <v-container>
            <v-row>
                <v-col cols="7" class="py-1" align="right">
                    <h6 class="text-h6">
                        Decks
                    </h6>
                </v-col>
                <v-col cols="2" class="py-1" align="left">
                    <h6 class="text-h6">
                        {{ in_decks_count }}
                    </h6>
                </v-col>
                <v-col cols="3" class="pt-3" align="right" @click="display_count_0 = !display_count_0">
                    <v-btn class="mx-1" icon outlined dark x-small color="primary">
                        ...
                    </v-btn>
                </v-col>
            </v-row>

            <template v-for="card_list in prepared_list"  >
                <v-row :key="card_list.id" v-if="card_list.count > 0 || display_count_0">
                    <v-col cols="6" class="py-0" align="right">
                        <h6 class="text-body-2 text-truncate">
                            {{ card_list.name }}
                        </h6>
                    </v-col>
                    <v-col cols="2" class="py-0" align="left">
                        <h6 class="text-body-1">
                            {{ card_list.count }}
                        </h6>
                    </v-col>
                    <v-col cols="4" class="py-0" align="right">
                        <v-btn class="mx-1" icon outlined dark x-small color="red" :loading="loading" :disabled="card_list.count == 0" @click="remove(card_list.id)">
                            <v-icon dark>
                                mdi-minus
                            </v-icon>
                        </v-btn>
                        <v-btn class="mx-1" icon outlined dark x-small color="green" :loading="loading" @click="create(card_list.id)">
                            <v-icon dark>
                                mdi-plus
                            </v-icon>
                        </v-btn>
                    </v-col>
                </v-row>
            </template>

        </v-container>

    </v-sheet>
</template>

<script>

import { mapGetters, mapActions } from 'vuex'

export default {
    name: 'DeckCardWidgetElement',
    props: {
        data: Object,
    },
    data: () => ({
        loading: false,
        display_count_0: false,
        card_list_item_list: [],
        total: 0,
    }),
    methods: {
        ...mapActions({
            addCardToList: 'card_list_store/addCardToList',
            deleteCardListItem: 'card_list_store/deleteCardListItem',
            initDeckWidgetStore: 'deck_card_widget_store/init',
            searchCardListItem: 'deck_card_widget_store/searchCardListItem',
        }),
        async create(card_list_id) {
            this.loading = true
            await this.addCardToList({
                card_list_id: card_list_id,
                state: 10,
                card_id: this.card_id,
                oracle_id: this.oracle_id,
                user_id: this.user_id,
            })
            await this.updateCardList()
            this.loading = false
        },
        async remove(card_list_id) {
            this.loading = true
            const item_to_remove = this.card_list_item_list
                .find((card_list_item) => card_list_item.card_list_id === card_list_id)
            await this.deleteCardListItem({
                user_id: this.user_id,
                card_list_id: card_list_id,
                card_list_item_id: item_to_remove.id,
            })
            await this.updateCardList()
            this.loading = false
        },
        async updateCardList() {
            this.card_list_item_list = await this.searchCardListItem({
                card_id: this.card_id,
                card_list_id_list: this.deck_list.map((card_item) => card_item.id)
            })

            this.total = this.deck_list.length;
        }
    },
    computed: {
        ...mapGetters({
            deck_list: 'deck_card_widget_store/deckList',
            user_id: 'authentication_store/user_id',
        }),
        prepared_list() {
            return this.deck_list.map((deck) => {
                return {
                    ...deck,
                    count: this.card_list_item_list.filter((card) => card.card_list_id === deck.id).length
                }
            })
        },
        card_id() {
            return this.data.card_id
        },
        oracle_id() {
            return this.data.oracle_id
        },
        in_decks_count() {
            return this.prepared_list.filter((card_list) => card_list.count > 0).length
        }
    },
    async mounted() {
        await this.initDeckWidgetStore()
        this.updateCardList()
        console.log('mounted', this.card_id)
        console.log(this.card_list);
    },

}

</script>
